#container-splash {
  text-align: center;
  transform: translate(0, 20vh);
  #message {
    color: #1d3f72;
    font-size: 3rem;
    font-style: italic;
    margin: 1.5rem;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}
